<div class="row">
    <div class="col-3 col-m-12 col-sm-12">
        <div class="prof-avatar">
            <img src="image/5_hinh_tren.jpg" alt="avatar-profile" >	
        </div>
    </div>
    <div class="col-9 col-m-12 col-sm-12">
        <h1>Profile</h1>
        <div class="profile-inf">
            <ul>
                <li>
                    <div class="col-2 col-m-3 col-sm-5">
                        Họ :
                    </div>
                    <div class="col-9 col-m-8 col-sm-7 prof-data">
                        <span><%= data.fistName%></span>
                    </div>
                </li>
                <li>
                    <div class="col-2 col-m-3 col-sm-5">
                        Tên :
                    </div>
                    <div class="col-9 col-m-8 col-sm-7 prof-data">
                        <span><%= data.lastName%></span>
                    </div>
                </li>
                <li>
                    <div class="col-2 col-m-3 col-sm-5">
                        Ngày sinh :
                    </div>
                    <div class="col-9 col-m-8 col-sm-7 prof-data">
                        <span><%= data.birthday%></span>
                    </div>
                </li>
                <li>
                    <div class="col-2 col-m-3 col-sm-5">
                        Giới tính :
                    </div>
                    <div class="col-9 col-m-8 col-sm-7 prof-data">
                        <span><%= data.gender%></span>
                    </div>
                </li>
                <li>
                    <div class="col-2 col-m-3 col-sm-5">
                        Số điện thoại :
                    </div>
                    <div class="col-9 col-m-8 col-sm-7 prof-data">
                        <span><%= data.phone%></span>
                    </div>
                </li>
                <li>
                    <div class="col-2 col-m-3 col-sm-5">
                        Email :
                    </div>
                    <div class="col-9 col-m-8 col-sm-7 prof-data">
                        <span><%= data.email%></span>
                    </div>
                </li>
                <li>
                    <div class="col-2 col-m-3 col-sm-5">
                        Địa chỉ :
                    </div>
                    <div class="col-9 col-m-8 col-sm-7 prof-data">
                        <span><%= data.address%></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>